.menuAparece{
    width: 100% !important;
    transition: 1s !important;
}

.blockeff{
    display: block !important;
}

.busca{
    font-weight: lighter !important;
    height: 150px !important;
    transition: 1s;
}

